body {
  margin: 0;
  font-family: sans-serif;
  background: #f7f7f7;
  color: #333;
}
.container {
  max-width: 500px;
  margin: auto;
  padding: 2em;
}
h1 {
  text-align: center;
}
button {
  padding: 1em;
  margin: 1em 0;
  width: 100%;
  font-size: 1em;
}